<table class="table table-striped table-advance table-hover pretty">
  <hr>
  <thead>
    <tr>
      <th><%= t ".avatar" %></th>
      <th><%= sortable "first_name", t(".name") %></th>
      <th><%= sortable "email", t(".email") %></th>
      <th><%= t ".actions" %></th>
    </tr>
  </thead>
  <tbody>
    <% @followers.each do |follower| %>
      <tr>
        <td><%= cl_image_tag follower.avatar_url, size: "50x50",
          crop: :thumbnail %></td>
        <td><%= link_to follower.full_name, user_path(follower) %></td>
        <td><%= follower.email %></td>
        <td>
          <div class="admin-actions">
            <% if current_user.following? follower %>
              <%= link_to t(".unfollow"), relationship_path(follower.id),
                method: :delete, class: "btn btn-danger" %>
            <% else %>
              <%=  form_for current_user.active_relationships.new,
                url: relationships_path, method: :post do |f| %>
                <%= hidden_field_tag :followed_id, follower.id %>
                <%= f.submit t(".follow"), class: "btn btn-success" %>
              <% end %>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="paginate">
  <%= will_paginate @followers %>
</div>
