<div class="panel panel-success">
  <div class="panel-heading panel-colors">
    <h3><%= t ".header_title" %></h3>
  </div>
  <ul class="nav nav-tabs">
    <li class="active">
      <a data-toggle="tab" href="#users_index"><%= t ".users_list" %></a>
    </li>
    <li>
      <a data-toggle="tab" href="#following_index">
        <%= t ".following" %><%= @following.count %>
      </a>
    </li>
    <li>
      <a data-toggle="tab" href="#followers_index">
        <%= t ".followers" %><%= @followers.count %>
      </a>
    </li>
  </ul>
  <div class="tab-content">
    <div id="users_index" class="tab-pane fade in active">
      <div class="search-form">
        <%= form_tag users_path, method: "get",
          id: "form_search" do %>
          <p>
            <%= text_field_tag :search,
              params[:search], placeholder: t(".search_placeholder") %>
            <%= submit_tag t(".search_button"), class: "btn btn-warning btn-sm" %>
          </p>
        <% end %>
      </div>
      <div id="index-list">
        <%= render "users" %>
      </div>
    </div>
    <div id="following_index" class="tab-pane fade">
      <div class="search-form">
        <%= form_tag users_path, method: "get",
          id: "form_search" do %>
          <p>
            <%= text_field_tag :search,
              params[:search], placeholder: t(".search_placeholder") %>
            <%= submit_tag t(".search_button"), class: "btn btn-warning btn-sm" %>
          </p>
        <% end %>
      </div>
      <div id="index-list">
        <%= render "following" %>
      </div>
    </div>
    <div id="followers_index" class="tab-pane fade">
      <div class="search-form">
        <%= form_tag users_path, method: "get",
          id: "form_search" do %>
          <p>
            <%= text_field_tag :search,
              params[:search], placeholder: t(".search_placeholder") %>
            <%= submit_tag t(".search_button"), class: "btn btn-warning btn-sm" %>
          </p>
        <% end %>
      </div>
      <div id="index-list">
        <%= render "followers" %>
      </div>
    </div>
  </div>
</div>
