<table class="table table-striped table-advance table-hover pretty">
  <hr>
  <%= link_to new_admin_request_path, class: "btn btn-success
    pull-right index-new-button" do %>
    <i class="fa fa-plus-circle">
      <%= t ".add" %>
    </i>
  <% end %>
  <thead>
    <tr>
      <th><%= sortable "book_title", t(".title") %></th>
      <th><%= sortable "book_author", t(".author") %></th>
      <th><%= t ".url" %></th>
      <th><%= t ".status" %></th>
      <th><%= t ".actions" %></th>
    </tr>
  </thead>
  <tbody>
    <% @requests.each do |request| %>
      <tr>
        <td><%= request.book_title %></td>
        <td><%= request.book_author %></td>
        <td><%= link_to request.url, request.url %></td>
        <td><%= request.status %></td>
        <td>
          <div class="admin-actions">
            <div class="col-md-5">
              <%= form_for request, url: admin_request_path(request),
                method: :put do |f| %>
                <% if request.status == t(".pending") %>
                  <%= f.hidden_field :status, value: t(".approved") %>
                  <%= f.submit t(".approved"), class: "btn btn-warning" %>
                <% else %>
                  <%= f.hidden_field :status, value: t(".pending") %>
                  <%= f.submit t(".pending"), class: "btn btn-success" %>
                <% end %>
              <% end %>
            </div>
            <div class="col-md-3">
              <%= link_to t(".edit"), edit_admin_request_path(request),
                class: "btn btn-primary" %>
            </div>
            <div class="col-md-4">
              <%= link_to t(".delete"), admin_request_path(request),
                method: :delete, data: {confirm: t(".confirm")},
                class: "btn btn-danger" %>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="paginate">
  <%= will_paginate @requests %>
</div>
