<div id="comment_form">
  <%= form_for Comment.new, url: user_review_comments_path(@review.user, @review),
    method: :post,remote: true do |f| %>
    <%= f.hidden_field :user_id, value: @review.user.id %>
    <%= f.hidden_field :review_id, value: @review.id %>
    <%= f.label :content, t(".post_comment") %>
    <%= f.text_area :content, class: "form-control",
      id: "comment-text-area", rows: 5 %>
    <br>
    <% if user_signed_in? %>
      <%= f.submit class: "btn btn-primary" %>
    <% else %>
      <%= t ".need_to" %>
      <%= link_to t(".sign_in"), new_user_session_path %>
      <%= t ".or" %>
      <%= link_to t(".signup"), new_user_registration_path %>
      <%= t ".post" %>
    <% end %>
  <% end %>
</div>
