<div class="row">
  <div class="col-md-12">
    <div class="sidebar-panel">
      <nav class="nav-sidebar">
        <ul class="nav tabs">
          <li class="sidebar-panel-title">
            <h3><%= t ".side_title" %></h3>
          </li>
          <% if current_user.admin? %>
            <li>
              <%= link_to t(".users"), admin_users_path %>
            </li>
            <li>
              <%= link_to t(".categories"), admin_categories_path %>
            </li>
            <li>
              <%= link_to t(".books"), admin_books_path %>
            </li>
            <li>
              <%= link_to t(".request"), "#" %>
            </li>
          <% else %>
            <li>
              <%= link_to t(".books"), books_path %>
            </li>
            <li>
              <%= link_to t(".users"), "#" %>
            </li>
            <li>
              <%= link_to t(".request"), "#" %>
            </li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</div>
