<!DOCTYPE html>
<html>
  <head>
    <title><%= t ".title" %></title>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": true %>
    <%= javascript_include_tag "application", "data-turbolinks-track": true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render "layouts/header" %>
    <div class="container">
      <%= flash_messages %>
      <div class="row">
        <div class="col-md-3">
          <%= render "users/profile" %>
          <%= render "layouts/sidebar" %>
        </div>
        <div class="col-md-9">
          <br>
          <%= yield %>
        </div>
      </div>
      <div class="row">
        <%= render "layouts/footer" %>
      </div>
    </div>
  </body>
</html>
